<form [formGroup]="formularioPerfil" (ngSubmit)="validarFormulario()">
  <label>
    nombre:
    <input type="text" formControlName="nombre" />
  </label>
  <br />
  <label>
    apellido:
    <input type="text" formControlName="apellido" />
  </label>
  <br />
  <label>
    ciudad:
    <input type="text" formControlName="ciudad" />
  </label>
  <br />
  <label>
    email:
    <input type="email" formControlName="email" />
  </label>
  <br />
  <button type="submit" [disabled]="!formularioPerfil.valid">Submit</button>
</form>
<p>Formulario estatus: {{ formularioPerfil.status }}</p>
